<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Dojo</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">

    <script src="/app.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script>
        connexion();
    </script>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                AVATAR
            </td>
            <td>
                <span sec:authentication="name" />visiteur, aucun role
            </td>
        </tr>
    </table>
    <button onclick="location.href='login'">Ouvrir une session</button>
</div>
<hr />
<div>
    <table>
        <tr>
            <td>Lien pour déboguage</td>
        </tr>
        <tr>
            <td>Cliquer <a href="consoleBD">ici</a> pour accéder à la section Avatar</td>
        </tr>
        <tr>
            <td>Cliquer <a href="consoleBD">ici</a> pour la consoleBD</td>
        </tr>
    </table>
</div>
<hr />
<div>
    <table>
        <tr>
            <td>Cliquer <a href="notreEcole">ici</a> pour voir les membre de notre école</td>
        </tr>
        <tr>
            <td>Cliquer <a href="kumite">ici</a> pour accéder à la salle de kumite (identifié)</td>
        </tr>
        <tr>
            <td>Cliquer <a href="passageGrade">ici</a> pour accéder au passage des grades (sensei ou vénérable)</td>
        </tr>
    </table>
</div>
<hr />
<div sec:authorize="isAuthenticated()">
    Votre message:
    <br />
    <input placeholder="Message">
    <br />
    <button id="envoyer">Envoyer message privé</button>
    <br />
    <button sec:authorize="hasAuthority('ANCIEN')">Envoyer message public</button>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="conversation" class="table table-striped">
            <thead>
            <tr>
                <th>Réponses</th>
            </tr>
            </thead>
            <tbody id="reponses">
            </tbody>
        </table>
    </div>
</div>
</body>
</html>